$peach-color: #ffe2dd;
$peach-color-dark: #ffd0c8;
$peach-color-light: #ffeae7;
$ashy-color: rgba(155, 155, 155, 0.5);

.library {
  width: 20rem;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 1;
  .library-bar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 0 3px $ashy-color;
    h2 {
      padding: 1.5rem;
    }
    .exit {
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
  }
  scrollbar-width: thin;
}
.library::-webkit-scrollbar {
  width: 7px;
}
.library::-webkit-scrollbar-thumb {
  background: $ashy-color;
  border-radius: 20px;
}
.open {
  transform: translateX(0);
  box-shadow: 0 0 50px rgb(200, 200, 200);
}

.library-song {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
  img {
    width: 30%;
  }
  &:hover {
    background: $peach-color;
  }
  &:active {
    background: $peach-color-light;
  }
}
.selected {
  background: $peach-color-dark;
}

.song-desc {
  margin-left: 1rem;
  h3 {
    font-size: 1.1rem;
    font-weight: 400;
  }
  h4 {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .library {
    width: 100%;
  }
}
