.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 18%;
    border-radius: 50%;
  }
  h2 {
    margin: 2rem 0 1rem 0;
  }
  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotated {
  animation: rotate 20s linear 0s infinite forwards;
}
