.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    margin: 2rem 0 1rem 0;
  }
  h3 {
    font-size: 1rem;
  }
}
