* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

::selection {
  background-color: #fad0c9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6e6e6d;
}

h2 {
  color: #626261;
}

@import "./song";
@import "./player";
@import "./library";
